# Import the packages

In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stt
import networkx as nx

# Functions

These are functions that will be used for the different operations of building the network

In [2]:
# Calculates the correlation between two arrays excluding the nan
def corr_nan(x,y):
    x = np.array(x)
    y = np.array(y)
    
    m = np.isnan(x) + np.isnan(y)
    mm = np.logical_not(m)
    
    [r,p] = stt.pearsonr(x[mm],y[mm])
    
    return r

In [3]:
def get_col_values(keys, df):
    
    cols = list()
    
    if type(keys) == type("abc"):
        keys = [keys]
        
    for key in keys:
        col = df[key].values
        cols.append(col)
    
    if len(cols) == 1:
        cols = cols[0]
        
    return cols

In [4]:
def check_element_to_remove(to_remove, string):
    main_var = np.nan
    if type(to_remove) == type('sdf'):
        if to_remove in string:
            main_var = True
        else:
            main_var = False
    elif type(to_remove) == type(["a","b"]):
        main_var = False
        for rem in to_remove:
            if rem in string:
                main_var = True
    return main_var

In [5]:
# builds the network from the (dummy coded) dataframe df
# metrics is the function that will be used for calculating the correlation
# exclude_same_question is used for not calculating correlation between responses of the same item
# remove_name is used for removing some specific entries (e.g. answer rejected)
# list_of_nodes is the list of the columns that will be turned into nodes
def make_graph_(df, list_of_nodes, metrics, exclude_same_question=True, print_=False, remove_name=''):
    G = nx.Graph()
    
    if remove_name == '': # should we remove some elements
        remove_el = False
    else:
        remove_el = True
    
    for i, node_i in enumerate(list_of_nodes):
        
        if remove_el and (check_element_to_remove(remove_name, node_i)):# this is one of the elements to remove
            if print_:
                print("Skipping : ", node_i)
        else:
            for j, node_j in enumerate(list_of_nodes):

                if remove_el and (check_element_to_remove(remove_name, node_j)):
                    if print_:
                        print("Skipping : ", node_i)
                    
                else:
                    if print_:
                        n_tot = len(list_of_nodes)**2
                        current = (i*len(list_of_nodes))+(j)
                        print(current,"/",n_tot, " = ", np.round(current/n_tot,decimals=2))

                    if j <= i:
                        continue

                    if exclude_same_question:
                        if node_i.split(sep=':')[0] == node_j.split(sep=':')[0]:
                            # if they belong to the same question
                            continue

                    [c1,c2] = get_col_values([node_i,node_j], df)
                    weight = metrics(c1,c2)
#                     print(weight)
                    if weight < 0:
                        weight = 0
                    G.add_weighted_edges_from([(node_i,node_j,weight)])
    return G

# Import and clean the data

Here you can import your dataset

In [6]:
filename = "dataset_to_open"
df = pd.read_csv(filename+".csv")

# Clean the data

Eventually clean your dataset. 

Specifically, you cannot use continuous variables as the dummy coding will generate as many new variables as the number of unique values

If you have continuous variables or too many entries you can bin them

In [7]:
# Identify which columns are needed for the analysis
useful_cols = ["Col 1", "Col 2", "Col 3"]

# Here I am binning the columns into a 5 point scale 
for col in useful_cols:
    df[col] = np.round(df[col]*5)

In [8]:
df.head()

   Unnamed: 0  Col 1  Col 2  Col 3
0           0    4.0    4.0    2.0
1           1    4.0    2.0    4.0
2           2    2.0    0.0    3.0
3           3    2.0    3.0    0.0
4           4    1.0    2.0    2.0

# Dummy code the survey

This will create a new dataframe called `df_bool` which contains the dummy coded version of the columns you selected in `list_of_questions`

In [10]:
list_of_questions = useful_cols #### <--- List of columns you would like to dummy code

df_bool = pd.DataFrame()
list_of_attitudes = []

for quest in list_of_questions:
    values = (df[quest].unique()) 
    
    for value in values:
        if type(value) == type('dsf'):
            name = str(quest)+":"+str(value) 
            df_bool[name] = df[quest] == value
            list_of_attitudes.append(name)           
        else:
            if np.isnan(value): # if it's a refused answer
                name = str(quest)+":"+"Ref" 
                try:
                    df_bool[name] = df_bool[name] | df[quest] == value
                except:
                    list_of_attitudes.append(name)
                    df_bool[name] = df[quest] == value
            else:
                name = str(quest)+":"+str(value) 
                df_bool[name] = df[quest] == value
                list_of_attitudes.append(name)

In [11]:
df_bool.head()

,Col 1:4.0,Col 1:2.0,Col 1:1.0,Col 1:3.0,Col 1:5.0,Col 1:0.0,Col 2:4.0,Col 2:2.0,Col 2:0.0,Col 2:3.0,Col 2:1.0,Col 2:5.0,Col 3:2.0,Col 3:4.0,Col 3:3.0,Col 3:0.0,Col 3:1.0,Col 3:5.0
0,True,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False,False
1,True,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False,False
2,False,True,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False,False
3,False,True,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,False
4,False,False,True,False,False,False,False,True,False,False,False,False,True,False,False,False,False,False

# Make the network

This code will produce a network `G` out of `df_bool`

In [13]:
remove_name = None# ["essround","cntry","Ref"]

metrics = corr_nan # the correlation function to use

list_of_nodes = df_bool.columns # columns_for_survey # 
df_t = df_bool

G = make_graph_(df_t, list_of_nodes, metrics, exclude_same_question=True, print_=True)

0 / 324  =  0.0
1 / 324  =  0.0
2 / 324  =  0.01
3 / 324  =  0.01
4 / 324  =  0.01
5 / 324  =  0.02
6 / 324  =  0.02
7 / 324  =  0.02
8 / 324  =  0.02
9 / 324  =  0.03
10 / 324  =  0.03
11 / 324  =  0.03
12 / 324  =  0.04
13 / 324  =  0.04
14 / 324  =  0.04
15 / 324  =  0.05
16 / 324  =  0.05
17 / 324  =  0.05
18 / 324  =  0.06
19 / 324  =  0.06
20 / 324  =  0.06
21 / 324  =  0.06
22 / 324  =  0.07
23 / 324  =  0.07
24 / 324  =  0.07
25 / 324  =  0.08
26 / 324  =  0.08
27 / 324  =  0.08
28 / 324  =  0.09
29 / 324  =  0.09
30 / 324  =  0.09
31 / 324  =  0.1
32 / 324  =  0.1
33 / 324  =  0.1
34 / 324  =  0.1
35 / 324  =  0.11
36 / 324  =  0.11
37 / 324  =  0.11
38 / 324  =  0.12
39 / 324  =  0.12
40 / 324  =  0.12
41 / 324  =  0.13
42 / 324  =  0.13
43 / 324  =  0.13
44 / 324  =  0.14
45 / 324  =  0.14
46 / 324  =  0.14
47 / 324  =  0.15
48 / 324  =  0.15
49 / 324  =  0.15
50 / 324  =  0.15
51 / 324  =  0.16
52 / 324  =  0.16
53 / 324  =  0.16
54 / 324  =  0.17
55 / 324  =  0.17
56 / 324  =  0.17
57 / 324  =  0.18
58 / 324  =  0.18
59 / 324  =  0.18
60 / 324  =  0.19
61 / 324  =  0.19
62 / 324  =  0.19
63 / 324  =  0.19
64 / 324  =  0.2
65 / 324  =  0.2
66 / 324  =  0.2
67 / 324  =  0.21
68 / 324  =  0.21
69 / 324  =  0.21
70 / 324  =  0.22
71 / 324  =  0.22
72 / 324  =  0.22
73 / 324  =  0.23
74 / 324  =  0.23
75 / 324  =  0.23
76 / 324  =  0.23
77 / 324  =  0.24
78 / 324  =  0.24
79 / 324  =  0.24
80 / 324  =  0.25
81 / 324  =  0.25
82 / 324  =  0.25
83 / 324  =  0.26
84 / 324  =  0.26
85 / 324  =  0.26
86 / 324  =  0.27
87 / 324  =  0.27
88 / 324  =  0.27
89 / 324  =  0.27
90 / 324  =  0.28
91 / 324  =  0.28
92 / 324  =  0.28
93 / 324  =  0.29
94 / 324  =  0.29
95 / 324  =  0.29
96 / 324  =  0.3
97 / 324  =  0.3
98 / 324  =  0.3
99 / 324  =  0.31
100 / 324  =  0.31
101 / 324  =  0.31
102 / 324  =  0.31
103 / 324  =  0.32
104 / 324  =  0.32
105 / 324  =  0.32
106 / 324  =  0.33
107 / 324  =  0.33
108 / 324  =  0.33
109 / 324  =  0.34
110 / 324  =  0.34
111 / 324  =  0.34
112 / 324  =  0.35
113 / 324  =  0.35
114 / 324  =  0.35
115 / 324  =  0.35
116 / 324  =  0.36
117 / 324  =  0.36
118 / 324  =  0.36
119 / 324  =  0.37
120 / 324  =  0.37
121 / 324  =  0.37
122 / 324  =  0.38
123 / 324  =  0.38
124 / 324  =  0.38
125 / 324  =  0.39
126 / 324  =  0.39
127 / 324  =  0.39
128 / 324  =  0.4
129 / 324  =  0.4
130 / 324  =  0.4
131 / 324  =  0.4
132 / 324  =  0.41
133 / 324  =  0.41
134 / 324  =  0.41
135 / 324  =  0.42
136 / 324  =  0.42
137 / 324  =  0.42
138 / 324  =  0.43
139 / 324  =  0.43
140 / 324  =  0.43
141 / 324  =  0.44
142 / 324  =  0.44
143 / 324  =  0.44
144 / 324  =  0.44
145 / 324  =  0.45
146 / 324  =  0.45
147 / 324  =  0.45
148 / 324  =  0.46
149 / 324  =  0.46
150 / 324  =  0.46
151 / 324  =  0.47
152 / 324  =  0.47
153 / 324  =  0.47
154 / 324  =  0.48
155 / 324  =  0.48
156 / 324  =  0.48
157 / 324  =  0.48
158 / 324  =  0.49
159 / 324  =  0.49
160 / 324  =  0.49
161 / 324  =  0.5
162 / 324  =  0.5
163 / 324  =  0.5
164 / 324  =  0.51
165 / 324  =  0.51
166 / 324  =  0.51
167 / 324  =  0.52
168 / 324  =  0.52
169 / 324  =  0.52
170 / 324  =  0.52
171 / 324  =  0.53
172 / 324  =  0.53
173 / 324  =  0.53
174 / 324  =  0.54
175 / 324  =  0.54
176 / 324  =  0.54
177 / 324  =  0.55
178 / 324  =  0.55
179 / 324  =  0.55
180 / 324  =  0.56
181 / 324  =  0.56
182 / 324  =  0.56
183 / 324  =  0.56
184 / 324  =  0.57
185 / 324  =  0.57
186 / 324  =  0.57
187 / 324  =  0.58
188 / 324  =  0.58
189 / 324  =  0.58
190 / 324  =  0.59
191 / 324  =  0.59
192 / 324  =  0.59
193 / 324  =  0.6
194 / 324  =  0.6
195 / 324  =  0.6
196 / 324  =  0.6
197 / 324  =  0.61
198 / 324  =  0.61
199 / 324  =  0.61
200 / 324  =  0.62
201 / 324  =  0.62
202 / 324  =  0.62
203 / 324  =  0.63
204 / 324  =  0.63
205 / 324  =  0.63
206 / 324  =  0.64
207 / 324  =  0.64
208 / 324  =  0.64
209 / 324  =  0.65
210 / 324  =  0.65
211 / 324  =  0.65
212 / 324  =  0.65
213 / 324  =  0.66
214 / 324  =  0.66
215 / 324  =  0.66
216 / 324  =  0.67
217 / 324  =  0.67
218 / 324  =  0.67
219 / 324  =  0.68
220 / 324  =  0.68
221 / 324  =  0.68
222 / 324  =  0.69
223 / 324  =  0.69
224 / 324  =  0.69
225 / 324  =  0.69
226 / 324  =  0.7
227 / 324  =  0.7
228 / 324  =  0.7
229 / 324  =  0.71
230 / 324  =  0.71
231 / 324  =  0.71
232 / 324  =  0.72
233 / 324  =  0.72
234 / 324  =  0.72
235 / 324  =  0.73
236 / 324  =  0.73
237 / 324  =  0.73
238 / 324  =  0.73
239 / 324  =  0.74
240 / 324  =  0.74
241 / 324  =  0.74
242 / 324  =  0.75
243 / 324  =  0.75
244 / 324  =  0.75
245 / 324  =  0.76
246 / 324  =  0.76
247 / 324  =  0.76
248 / 324  =  0.77
249 / 324  =  0.77
250 / 324  =  0.77
251 / 324  =  0.77
252 / 324  =  0.78
253 / 324  =  0.78
254 / 324  =  0.78
255 / 324  =  0.79
256 / 324  =  0.79
257 / 324  =  0.79
258 / 324  =  0.8
259 / 324  =  0.8
260 / 324  =  0.8
261 / 324  =  0.81
262 / 324  =  0.81
263 / 324  =  0.81
264 / 324  =  0.81
265 / 324  =  0.82
266 / 324  =  0.82
267 / 324  =  0.82
268 / 324  =  0.83
269 / 324  =  0.83
270 / 324  =  0.83
271 / 324  =  0.84
272 / 324  =  0.84
273 / 324  =  0.84
274 / 324  =  0.85
275 / 324  =  0.85
276 / 324  =  0.85
277 / 324  =  0.85
278 / 324  =  0.86
279 / 324  =  0.86
280 / 324  =  0.86
281 / 324  =  0.87
282 / 324  =  0.87
283 / 324  =  0.87
284 / 324  =  0.88
285 / 324  =  0.88
286 / 324  =  0.88
287 / 324  =  0.89
288 / 324  =  0.89
289 / 324  =  0.89
290 / 324  =  0.9
291 / 324  =  0.9
292 / 324  =  0.9
293 / 324  =  0.9
294 / 324  =  0.91
295 / 324  =  0.91
296 / 324  =  0.91
297 / 324  =  0.92
298 / 324  =  0.92
299 / 324  =  0.92
300 / 324  =  0.93
301 / 324  =  0.93
302 / 324  =  0.93
303 / 324  =  0.94
304 / 324  =  0.94
305 / 324  =  0.94
306 / 324  =  0.94
307 / 324  =  0.95
308 / 324  =  0.95
309 / 324  =  0.95
310 / 324  =  0.96
311 / 324  =  0.96
312 / 324  =  0.96
313 / 324  =  0.97
314 / 324  =  0.97
315 / 324  =  0.97
316 / 324  =  0.98
317 / 324  =  0.98
318 / 324  =  0.98
319 / 324  =  0.98
320 / 324  =  0.99
321 / 324  =  0.99
322 / 324  =  0.99
323 / 324  =  1.0

In [14]:
# G.nodes

# Save the network

Save the network so you can import it in other softwares (e.g. Gephy)

In [15]:
filename = 'title'
output_path = ''
nx.write_gexf(G,output_path+filename+'.gexf')